.page {
  font-family: var(--main-font, sans-serif);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  padding: 10px;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--main-heading-text-color);
  border-block-start: 1px solid var(--main-heading-text-color);
}
decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--main-heading-text-color);
  border-block-end: 1px solid var(--main-heading-text-color);
}
  .corner_rec{
  position: absolute;
  top: 10px;
  right: 19px;
  display: var(--section-title-color);
  }

  .corner_rec::before {
    content: "REC";
    position: absolute;
    color: var(--accent-color);
    font-family: var(--main-font,sans-serif);
    font-size: var(--text-font-size, 18px);
    line-height: 25px;
  }

  .corner_rec::after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  right: 0;
  border-radius: 50%;
  background-color: var(--section-title-color);
  box-shadow: 0 0 4px 2px var(--section-title-color);
  }

  .header__theme-menu {
    justify-self: end;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 10px;
  }

  .header__theme-menu-item {
    font-size: var(--text-font-size, 18px);
    line-height: 18px;
    text-align: center;
  }

  .header__theme-menu-button {
    font-family: var(--main-font, sans-serif);
    color: var(--button-text-color);
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: var(--text-font-size,18px);
    line-height: 18px;
    text-transform: lowercase;
    padding: 3px 13px 3px 13px;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover-color);
    cursor: pointer;
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--button-text-color);
    pointer-events: none;
  }

  .page-title{
  justify-self: start;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header__subtitle{
  align-self: center;
  margin-block-end: 10px;
  color: var(--article-title-color);
  font-size: 18px;
  font-family: var(--main-font-family), sans-serif;
  font-weight: var(--font-weight-bold);
  line-height: var(--main-line-height);
}

.title-decoration{
  color: var(--main-heading-text-color);
  background-color: var(--accent-color);
}

.content{
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 40px 10px;
}

.content__section{
  display: grid;
  gap: 20px;
}

.section__title{
  display: block;
  color: var(--main-heading-text-color);
  font-size: var(--text-font-size, 18px);
  line-height: 23.4px;
}

.articles-why{
  display: grid;
  gap: 20px;
  line-height: 23.4px;
}

.article{
  display: grid;
  gap: 10px;
  font-size: var(--text-font-size, 18px);
  line-height: 23.4px;
}

.article__title{
  font-size: var(--text-font-size, 18px);
  text-align: left;
}

.article__text {
  color: var(--text-color);
  font-size: var(--text-font-size, 18px);
  line-height: 23.4px;
}

.article__text-link{
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  cursor: pointer;
}

.article__title-weight{
  font-weight: var(--font-weight-normal);
  text-align: left;
}

.section-images {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
  margin: 0;
}

.gallery-list__item-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-columns: 1fr;
  
}

.footer__title{
  display: block;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: var(--title-color);
  font-size: var(--logo-size);
  line-height: 0.83em;  
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 20px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    padding-inline-start: 20px;
  }

  .header__subtitle {
    margin-block-start: 18px;
  }

  .article{
    grid-template-rows: min-content;
  }

  .section__title{
    max-width: 315px;
  }

  .section-why {
    grid-template-rows: min-content 1fr;
  }

  .causes-block-design {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  .footer {
    min-block-size: 768px;
  }
}

@media (width >= 768px) {

  .page {
    padding-inline: 20px;
    gap: 60px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .corner_rec {
    top: 20px;
  }

  .header__theme-menu {
    padding-block-start: 13px;
  }
  
  .page-title {
    font-size: var(--logo-size);
    margin-inline-start: -20px;
  }

  .header__subtitle{
    max-inline-size: 22.75rem;
    justify-self: end;
    margin-block-end: 20px;
  }

  .content {
    gap: 80px;
  }

  .articles-why,
  .articles-how {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__block{
    grid-template-rows: min-content 1fr;
  }

  .section__block .section__title {
    max-inline-size: 236px;
  }

  .section-images {
    gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  
  .gallery__list-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
   
  }

  .gallery__list-item:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
  }

  .gallery__list-item:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
     }

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    font-size: var(--logo-size);
  }

}

